body,
html {
	background-color: #FFFFFF;
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.header {
	/* background: url("../resources/MainSliderImage\ 1.png") right center / cover no-repeat;
	background-size: contain; */
	position: relative;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header-container {
	padding-top: 90px;
	padding-bottom: 98px;
}

.header__navigation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 100px;
	margin-bottom: 100px;
}

.header__logo {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	max-width: 152px;
	color: black;
	letter-spacing: 0.13em;
	text-transform: uppercase;
}

.navigation {
	display: flex;
	gap: 27px;
}

.navigation__link {
	color: black;
	line-height: 19px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
}

.header__info {
	max-width: 545px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 35px;
}

.header__title {
	font-weight: 700;
	margin-bottom: 35px;
	font-size: 57px;
	line-height: 145%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.header__description {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 35px;
}

.header__button {
	color: #FFFFFF;
	background-color: #303032;
	padding: 18px 72px;
	border-radius: 5px;
}

.header__slider {
	position: absolute;
	right: 0;
	top: 0;
	width: 663px;
	height: 829px;
}

/* ГЛАВНЫЙ СЛАЙДЕР */
.slider-container {
	position: absolute;
	width: 663px;
	/* height: 829px; */
	height: 100%;
	right: 0;
	top: 0;
	overflow: hidden;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	transition: transform 1s ease;
}

.slide {
	flex: 1;
}

.pagination {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
}

.pagination-btn {
	font-size: 16px;
	color: #ffffff8e;
	border: none;
	background: transparent;
	margin: 0 10px;
	cursor: pointer;
}

.pagination-btn.active {
	color: rgb(255, 255, 255);
	font-size: 20px;
}

/* ГЛАВНАЯ СЕКЦИЯ */
.main {}

.news-section {
	background-color: #303032;
	padding-top: 66px;
}

.news-section__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.news-section__image {
	color: #FFFFFF;
}

.news-section__description {
	color: #FFFFFF;
}

.header__logo {}

.header__logo_white {
	color: #FFFFFF;
}

.news-section__subtitle {
	color: #FFFFFF;
}

.news-section__about-us-image {}