body, html {
    background-color: #FFFFFF;
    height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.header {
    
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header-container {
}
.header__navigation {
}
.header__logo {
    font-weight: 700;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: 0.13em;
text-transform: uppercase;
}
.navigation {
}
.navigation__link {
    line-height: 19px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
}
.header__info {
    max-width: 545px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 35px;
}
.header__title {
    font-weight: 700;
    font-size: 57px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.header__description {
    font-size: 20px;
    line-height: 27px;
}
.header__button {
}