body,
html {
	background-color: #FFFFFF;
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.header {
	position: relative;
	margin-bottom: 100px;
}

/* ГЛАВНЫЙ СЛАЙДЕР */
.slider {
	width: 100%;
	height: 828px;
	position: relative;
	overflow: hidden;
  }
 
.slider__image {
	width: 100%;
	height: 828px;
	object-fit: cover;
}

  .slides-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: transform 1.5s ease-in-out;
  }
  
  .slide {
	width: 100%;
	height: 100%;
  }
  
  .pagination {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
  }
  
  .pagination button {
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	width: 50px;
	height: 50px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 145%;
	letter-spacing: 0.05em;
  }
  
  .pagination button.active {
	/* background-color: #ffffff; */
	font-size: 40px;
	line-height: 145%;
  }
  /* Интересный момент со стилизацией */
  /* .pagination button.active::after {
	content: "";
	display: block;
	position: absolute;
	right: -2px;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #FFFFFF;
  }
   */

/*_____СЛАЙДЕР_____  */
.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header-container {
	position: relative;
	padding-top: 90px;
	padding-bottom: 98px;
}
.header-container__inner {
	position: relative;
}
.wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	margin-bottom: 100px;
}

.header__logo {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	max-width: 152px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	letter-spacing: 0.13em;
	text-transform: uppercase;
}
.header__logo_black {
	color: rgb(0, 0, 0);
}

.navigation {
	display: flex;
	gap: 27px;
}

.navigation__link {
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	line-height: 19px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	position: relative;
	
}
.navigation__link:hover:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: #FFFFFF;
}

.header__info {
	max-width: 545px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 35px;
}

.header__title {
	font-weight: 700;
	color: rgb(255, 255, 255);
	margin-bottom: 35px;
	font-size: 57px;
	line-height: 145%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.header__description {
	font-size: 20px;
	color: rgb(255, 255, 255);
	line-height: 27px;
	margin-bottom: 35px;
}

.header__button {
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	border: 1px solid #ffffff;
	padding: 18px 72px;
	border-radius: 5px;
	font-weight: 700;
}
.header__button:hover{
	color: rgba(0, 0, 0, 0.591);
	background-color: #ffffff70;
}

.header__slider {
	position: absolute;
	left: 55%;
	top: 0;
	/* width: 663px; */
	height: 829px;
}

/* MAIN SECTION */
.about-section {
}

.about-section__title {
	font-weight: 700;
font-size: 28px;
line-height: 37px;
margin-bottom: 105px;
}
.about-section__info {

}

/* GRID */
.grid {
	display: grid;

	row-gap: 30px;
	grid-template-areas:
		"A  A  B  B"
		"C  D  E  F"
		"G  H  I  I"
		"L  L  M  M"
    ;
	column-gap: 35px;
	row-gap: 35px;
	grid-template-rows: 614px 289px 289px 614px;
	grid-template-columns: repeat(4, calc(25% - 35px));
}
.grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid__product-image-field {
	grid-area: A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px 53px;
	background-color: #303032;
	color: #ffffff;
}
.grid__product-image {
	margin-bottom: 15px;
}
.grid__product-name {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
}
.grid__product-price {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 28px;
	line-height: 38px;
}
.grid__product-description__wrapper {
	grid-area: B;
	align-content: center;
	justify-content: stretch;
}
.grid__product-description {
	
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
}


.grid__image_1 {
	grid-area: C;
}
.header__logo_black {
	grid-area: D;
	color: #000000;
	margin: auto auto;
}
.grid__image_2 {
	grid-area: G;
}
.grid__image_3 {
	grid-area: H;
}

.grid__image_4 {
	grid-area: E;
}
.grid__image_5 {
	grid-area: F;
}
.grid__image-description {
	grid-area: I;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
}
.grid__about-text-wrapper {
	grid-area: L;
	align-content: center;
	justify-content: stretch;
}
.grid__about-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

}
.grid__about-image {
	grid-area: M;
}
